body {
    color: darkblue;
    background-color: lightblue;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    text-decoration: none;
    color: darkblue;
    padding: 14px 16px;
    text-align: center;
    display: block;
}

ul.navbar li a:hover {
    background-color: cornflowerblue;
}