html {
    background-image: linear-gradient(to right, #AAE3FD, #DBF3FE);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #78BFC7;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

li.navbar-link {
    float: left;
    background-color: #1457c4;
    padding: 1%;
}

li.active {
    background-color: #14c440;
}

li.navbar-link a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.main-content {
    position: absolute;
    top: 5%;
    font-family: 'Courier New', Courier, monospace;
}